<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<title>I just code IT</title>
</head>
<body>
    Hello EJS module.
</body>
</html> -->

<!-- <html> -->

    <head>
        <title>index.ejs</title>
    </head>
    
    <body>
        <!-- <h1>Hello!!!</h1> -->
        aaaa
        <!-- <h1>Hello <%=username%> !!!</h1> -->
        <!-- <ul>
                <% customer.map((i)=>{%>
                    <li>
                        <%=i%>
                    </li>
                    })
                %>
            </ul> -->
    </body>
    
    <!-- </html> -->